@charset "utf-8";
a,img{border:0;}
/* banner */
#banner{margin:0px auto 0px auto;width:100%;height:500px;}
.slides{margin:0px auto;width:100%;height:500px;overflow:hidden;position:relative;}
.slide-pic{width:100%;overflow:hidden;list-style:none;}
.slide-pic li{display:none;}
.slide-pic li.cur{display:block;}
